* {
  font-family: Arial, sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
  overflow: hidden;
}

.no-select {
  user-select: none
}

.clickable {
  cursor: pointer;
}

.monospace {
  font-family: monospace;
}
